<% provide(:title, "TsumiageApp") %>

<div class="home-wrapper">
  <div class="top">
    <% flash.each do |message_type, message| %>
      <div class="flash"><%= message %></div> 
    <% end %>
    
    <h1>TsumiageApp</h1>
    <p>「#今日の積み上げ」を共有・分析できるアプリケーション</p>
    <%= link_to('新規登録', new_user_path, class: 'btn') %>
    <%= link_to('ログイン', login_path, class: 'btn') %>
  </div>

  <div class="center">
    <div class="text">
      <h1><span class="color">TsumiageApp</span>とは？</h1>
      <div class="border"></div>
      <h2>積み上げを継続することはとても大変です</h2>
      <p>こんなことを考えたことはありませんか？<p>
    </div>
    <div class="questions">
      <div class="question1">
          <%= image_tag('trouble1.png', class: 'trouble1') %>
          <div class="comment1-container">
            <div class="text1-container">
              <img src="/images/comment1.png" class="comment1"  width="275">
              <p>一人で毎日積み上げをするのはしんどいな…</p>
            </div>
          </div>
      </div>
      <div class="question2">
        <%= image_tag('trouble2.png', class: 'trouble2') %>
        <div class="comment2-container">
          <div class="text2-container">
            <img src="/images/comment2.png" class="comment2">
            <p>今までどれくらい積み上げたか<br>記録が残ってないわ…</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="title">
      <p>でも…</p>
      <h1>TsumiageAppだと<br>毎日の積み上げが楽しくなる！</h1>
      <img src="/images/enjoy-person.png" class="enjoy-person">
    </div>
    <div class="text">
      <h2>TsumiageAppでできること</h2>
      <div class="border"></div>
      <div class="context">
        <p><span class="number">1</span>   みんなと日々の積み上げを共有できる‼</p>
        <p><span class="number">2</span>   積み上げの記録やデータが見れる！</p>
        <p><span class="number">3</span>   GPSを使って近くのカフェ検索が可能！</p>
      </div>
    </div>
    <div class="sub"></div>
  </div>

  <div class="use-way">
    <div class="title">
      <h1>使い方はとっても簡単！</h1>
    </div>

    <div class="explanation">
      <div class="row">
        <div class="use-container col-md-6">
          <h2>1. みんなの積み上げ</h2>
          <div class="border"></div>
          <p>ここではみんなの日々の積み上げを見ることができるよ！<br>頑張っている人を見つけたら「いいね」やコメントをつけてみよう‼</p>
          <%= image_tag('use-1.png', class: 'use') %>
        </div>
        <div class="use-container col-md-6">
          <h2>2. Myスキルアップページ</h2>
          <div class="border"></div>
          <p>自分の過去の積み上げが見れるよ！<br>分析ページやカフェ検索ページを使ってさらに積み上げよう‼</p>
          <%= image_tag('use-3.png', class: 'use') %>
        </div>
      </div>
      <div class="row">
        <div class="use-container col-md-6">
          <h2>3. 投稿ページ</h2>
          <div class="border"></div>
          <p>今日の積み上げを書いて投稿しよう！<br>時間、ジャンルを記入して分析をしやすくしよう‼</p>
          <%= image_tag('use-2.png', class: 'use') %>
        </div>
        <div class="use-container col-md-6">
          <h2>4. 分析ページ</h2>
          <div class="border"></div>
          <p>自分の積み上げをグラフで見ることができるよ‼<br>一番多く積み上げたことや、平均学習時間の算出もしてくれる…！</p>
          <%= image_tag('use-4.png', class: 'use') %>
        </div>
      </div>
    </div>

    <%= link_to('さぁ始めよう！', new_user_path, class: 'new-btn') %>
  </div>
</div>