<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<% provide(:title, "ユーザー情報編集") %>
<div class="background">
  <div class="container form">
    <div class="form-flash">
      <% flash.each do |message_type, message| %>
        <div class="flash"><p><%= message %></p></div> 
      <% end %>
    </div>

    <h1>プロフィールを編集しましょう</h1>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= form_for(@user) do |f| %>

        <%= f.label :name, "名前", class: 'login-text'%>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "メールアドレス", class: 'login-text' %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "パスワード", class: 'login-text' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "パスワード確認", class: 'login-text' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "プロフィールを更新する", class: 'form-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
