<header>
  <div class="wrapper">
    <div class="left">
      <% if logged_in? %>
        <h1><%= link_to "TsumiageApp", users_path, class: 'color-white' %></h1>
      <% end %>
    </div>
    <div class="menu-trigger" href="">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <% if logged_in? %>
          <li><%= link_to "ホーム", users_path %></li>
          <li><%= link_to "マイページ", user_path(current_user) %></li>
          <li><%= link_to "＃今日の積み上げ", new_tsumiage_path %></li>
          <li><%= link_to "分析ページ", analysis_user_path(current_user) %></li>
          <li><%= link_to "近くのカフェを探す", map_path %></li>
          <li><%= link_to "アカウント設定", edit_user_path(current_user) %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "新規登録", new_user_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="overlay"></div>
  </div>
</header>